/*
    Created on : 18 de jun de 2022, 20:36:16
    Author     : angelo
*/

.content {
    margin-top: 40px;
    min-height: 640px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.content-addThis {
    height: 40px;    
    width: 150px;
    margin-bottom: 0px;
}
