/*
    Created on : 18 de jun de 2022, 20:36:16
    Author     : angelo
*/

.content {
    margin-top: 40px;
    min-height: 640px;
    padding: 10px 30px 30px 30px;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 6px;
}

.content-addThis {
    height: 40px;    
    width: 150px;
    margin-bottom: 0px;
}
