/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 12 de mai de 2023, 21:19:10
    Author     : angelo
*/

.footer {
    height: 150px;
    color: #fff;
    background-color: #555;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 7px;
  //left: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $squidsColor;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;  
}